TITLE HERE

Intro start. explain tennis rankings, how you move up and down, is 1 good or bad etc) explain a bit about the ace serve 
and double fault. what they are

explain our question. can we estimate a players ranking based on ratio of ace serve to double fault etc

descibe data. what are we measuring

read data

In [10]:
# load packages
library(tidyverse)
library(tidymodels)
# read the data 
# note: The code below will download the data into the current working directory and read it
url <- "https://drive.google.com/uc?export=download&id=1fOQ8sy_qMkQiQEAO6uFdRX4tLI8EpSTn"
download.file(url, "./atp2017-2019.csv")
player_result <- read_csv("./atp2017-2019.csv")
glimpse(player_result)

New names:
• `` -> `...1`
Rows: 6866 Columns: 50
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (16): tourney_id, tourney_name, surface, tourney_level, winner_seed, win...
dbl (34): ...1, draw_size, tourney_date, match_num, winner_id, winner_ht, wi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 6,866
Columns: 50
$ ...1               <dbl> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1…
$ tourney_id         <chr> "2019-M020", "2019-M020", "2019-M020", "2019-M020",…
$ tourney_name       <chr> "Brisbane", "Brisbane", "Brisbane", "Brisbane", "Br…
$ surface            <chr> "Hard", "Hard", "Hard", "Hard", "Hard", "Hard", "Ha…
$ draw_size          <dbl> 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32,…
$ tourney_level      <chr> "A", "A", "A", "A", "A", "A", "A", "A", "A", "A", "…
$ tourney_date       <dbl> 20181231, 20181231, 20181231, 20181231, 20181231, 2…
$ match_num          <dbl> 300, 299, 298, 297, 296, 295, 294, 293, 292, 291, 2…
$ winner_id          <dbl> 105453, 106421, 105453, 104542, 106421, 104871, 105…
$ winner_seed        <chr> "2", "4", "2", NA, "4", NA, "2", NA, "7", "4", "5",…
$ winner_entry       <chr> NA, NA, NA, "PR", NA, NA, NA, "PR", NA, NA, NA, NA,…
$ winner_name        <chr> "Kei Nishikori", "Daniil Medvedev", "Kei Nishikori"…
$ winner_hand        <chr> "R", "R", "R", "R", "R", "R", "R", "R", "R", "R", "…
$ winner_ht          <dbl> 178, NA, 178, 188, NA, 188, 178, 188, NA, NA, 196, …
$ winner_ioc         <chr> "JPN", "RUS", "JPN", "FRA", "RUS", "FRA", "JPN", "F…
$ winner_age         <dbl> 29.00479, 22.88569, 29.00479, 33.70568, 22.88569, 3…
$ loser_id           <dbl> 106421, 104542, 104871, 200282, 105683, 106034, 105…
$ loser_seed         <chr> "4", NA, NA, "7", "5", NA, "6", NA, NA, NA, NA, "8"…
$ loser_entry        <chr> NA, "PR", NA, NA, NA, "Q", NA, "LL", NA, "PR", "Q",…
$ loser_name         <chr> "Daniil Medvedev", "Jo Wilfried Tsonga", "Jeremy Ch…
$ loser_hand         <chr> "R", "R", "R", "R", "R", "R", "R", "R", "R", "R", "…
$ loser_ht           <dbl> NA, 188, 188, NA, 196, NA, 188, NA, NA, 190, NA, 19…
$ loser_ioc          <chr> "RUS", "FRA", "FRA", "AUS", "CAN", "JPN", "BUL", "J…
$ loser_age          <dbl> 22.88569, 33.70568, 31.88227, 19.86858, 28.01095, 2…
$ score              <chr> "6-4 3-6 6-2", "7-6(6) 6-2", "6-2 6-2", "6-4 7-6(2)…
$ best_of            <dbl> 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, …
$ round              <chr> "F", "SF", "SF", "QF", "QF", "QF", "QF", "R16", "R1…
$ minutes            <dbl> 124, 82, 66, 106, 129, 127, 100, 100, 80, 81, 82, 9…
$ w_ace              <dbl> 3, 10, 2, 12, 12, 10, 5, 11, 1, 16, 21, 17, 15, 6, …
$ w_df               <dbl> 3, 1, 2, 2, 3, 8, 2, 3, 1, 2, 3, 5, 0, 2, 2, 1, 2, …
$ w_svpt             <dbl> 77, 52, 47, 68, 105, 94, 59, 64, 49, 54, 62, 84, 75…
$ w_1stIn            <dbl> 44, 33, 33, 43, 68, 58, 47, 37, 38, 34, 46, 58, 48,…
$ w_1stWon           <dbl> 31, 28, 26, 34, 48, 44, 37, 30, 29, 27, 40, 50, 41,…
$ w_2ndWon           <dbl> 17, 14, 9, 15, 25, 18, 9, 11, 8, 13, 10, 17, 14, 13…
$ w_SvGms            <dbl> 13, 10, 8, 11, 16, 16, 12, 10, 9, 10, 11, 15, 11, 1…
$ w_bpSaved          <dbl> 3, 0, 2, 4, 8, 4, 0, 4, 0, 0, 0, 2, 3, 2, 0, 2, 0, …
$ w_bpFaced          <dbl> 6, 1, 2, 5, 8, 8, 1, 7, 0, 1, 0, 2, 3, 4, 0, 3, 1, …
$ l_ace              <dbl> 8, 17, 10, 1, 29, 12, 8, 3, 5, 6, 3, 13, 7, 1, 5, 3…
$ l_df               <dbl> 6, 2, 3, 2, 5, 6, 5, 7, 0, 1, 0, 6, 1, 1, 3, 0, 3, …
$ l_svpt             <dbl> 100, 77, 46, 81, 94, 90, 80, 85, 56, 60, 71, 80, 75…
$ l_1stIn            <dbl> 54, 52, 27, 60, 56, 54, 53, 51, 39, 39, 44, 59, 50,…
$ l_1stWon           <dbl> 34, 36, 15, 38, 46, 40, 37, 34, 30, 27, 28, 48, 35,…
$ l_2ndWon           <dbl> 20, 7, 6, 9, 19, 18, 13, 11, 3, 7, 18, 10, 14, 10, …
$ l_SvGms            <dbl> 14, 10, 8, 11, 15, 15, 12, 11, 9, 10, 10, 14, 11, 9…
$ l_bpSaved          <dbl> 10, 10, 1, 4, 2, 6, 6, 6, 3, 2, 2, 2, 1, 3, 4, 1, 8…
$ l_bpFaced          <dbl> 15, 13, 5, 6, 4, 9, 9, 11, 6, 6, 3, 5, 2, 7, 7, 3, …
$ winner_rank        <dbl> 9, 16, 9, 239, 16, 40, 9, 239, 31, 16, 18, 40, 185,…
$ winner_rank_points <dbl> 3590, 1977, 3590, 200, 1977, 1050, 3590, 200, 1298,…
$ loser_rank         <dbl> 16, 239, 40, 31, 18, 185, 19, 77, 72, 240, 131, 35,…
$ loser_rank_points  <dbl> 1977, 200, 1050, 1298, 1855, 275, 1835, 691, 715, 2…

clean and wrangle BREAKDOWN INTO SMALLER STEPS PROBABLY THERE IS A LOT

In [11]:
# filter year 2019, there is indeed a more formal way with more steps to do that,
# but we can simply do it this way with only one step because we don't need the
# year information later on
player_2019 <- filter(player_result, tourney_date <= 20199999
                       , tourney_date >=20190000) |>
  select(winner_id, loser_id, w_ace, l_ace, w_df, l_df, winner_rank, loser_rank)

# seperate the original data into winner and loser
player_winner <- player_2019 |>
  select(winner_id, w_ace, w_df, winner_rank) |>
  rename(id = winner_id, ace = w_ace, df = w_df, rank = winner_rank)
player_loser <- player_2019 |>
  select(loser_id, l_ace, l_df, loser_rank) |>
  rename(id = loser_id, ace = l_ace, df=l_df, rank = loser_rank)

# Combine them together by rows to form a data into a tidy format
player_clean <- bind_rows(player_winner, player_loser)
head(player_clean)

  id     ace df rank
1 105815  7  2  63
2 111815 17  5  93
3 105815  9  0  63
4 111815 11  0  93
5 105526 22  3  58
6 105815 11  1  63

seperate training data from testing data or whatever it is called

In [15]:
# Split data into training data and testing data
player_split <- player_clean |>
  initial_split(prop = 0.75, strata = rank)
player_training <- training(player_split)
player_testing <- testing(player_split)
head(player_training)

  id     ace df rank
1 104926  5  4  13
2 106043  7  1  19
3 126774  8  1  15
4 104925  6  2   1
5 105676  9  3  22
6 105807 20  3  23

using training data make a table that contains variable more related to what we are doing.
means of the predictor variables you plan to use in your analysis and how many rows have missing data.

In [16]:
# Exploratory data analysis to training data
Summarised_training <- player_training |>
  summarize(rank_mean = mean(rank, na.rm = TRUE), 
            missing_id = sum(is.na(id)), 
            missing_ace = sum(is.na(ace)),
            missing_df = sum(is.na(df)),
            missing_rank = sum(is.na(rank)))
Summarised_training

  rank_mean missing_id missing_ace missing_df missing_rank
1 68.20107  0          81          81         6

visualize. show a distribution of data.histogram or something of rankings of people entered and maybe ratio distributions

WRITING SECTION describe how we are going to do the regression question. How will we visualize it ?

WRITING SECTIONOutcomes. predict results. impact. questions will it lead too